<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- <link rel="stylesheet"  href="/static/css/post.css" /> -->
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
    <title>
      Blog
    </title>
  </head>
  <body>
    <%- include ("./partials/messages") %>
    <% if(typeof userId != 'undefined'){ %>
    <header class="navigation-bar">
      <ul>
        <li>
          <a href="/users/logout">Logout</a>
        </li>
        <li>
          <a href="/users/dashboard">Dashboard</a>
        </li>
      </ul>
    </header>
    <% } %>
    <% if(typeof userId == 'undefined'){ %>

      <header class="navigation-bar">
        <ul>
          <li>
            <a href="/users/register">Register</a>
          </li>
          <li>
            <a href="/users/login"> Login</a>
          </li>
        </ul>
      </header>
      <% } %>
    <section class="post">
       
        
      <div class="post-element">
        <% if(typeof post !== 'undefined'){ %>
        <h1 class="post-title" id=""><a href="/users/queryPost?id=<%=post._id%>"><%- post.title %></a></h1>
        <article id=""><%- post.post %></article>
       
          <% post.comments.forEach(function(comment){%>
            <div class="comments">
              <ul>
                <li><%= comment.comment %></li>
              </ul>
           
        </div>
        
         <% })%>
        <% } else{ %> 
            <h1>The Page You requested For is not Available</h1>
        <%}%>
        <% if(typeof userId !== 'undefined' && post !== 'undefined'){ %>
        <form action="/comment?id=<%=post._id%>&&userId=<%=userId%>" method="POST">
          <label for="">Leave a Comment</label>
          <textarea
            class="comment"
            name="comment"
            placeholder="Enter Comment"
            value=""
          >
          </textarea>
          <button type="submit" class="button">
            Submit
          </button>
        </form>
        <% } %>
      </div>
     


    </section>
  </body>
</html>
