<!DOCTYPE html>
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%= lastname%> || Dashboard</title>
    <meta name="description" content="">
    <link rel="stylesheet" href="/static/css/stylesC.css">
</head>

<body>
    <!-- <h1>Dashboard</h1> -->
     <header class="navigation-bar">
        
        <ul>
            <li>
                <a href="/users/logout"> Logout</a>
            </li>
        </ul>
        <ul>
            <li>
                <a href="/"> Home</a>
            </li>
        </ul>
    </header>
    <%- include ("./partials/messages") %>

    <table>
        <th colspan='2'>
            <h1>Dashboard</h1>
        </th>
        <tr>
            <td class='detail'>
                Welcome
            </td>
            <td>
                <%= lastname %>
                <%= firstname %>
            </td>
            
        </tr>
        <tr>
            <td class='detail'>
                Email
            </td>
            <td>
                <%= email %>  
            </td>
        </tr>
        <tr>
            <td class='detail'>
                Contact
            </td>
            <td>
                <%= contact %> 
            </td>
        </tr>
        <tr>
            <td class='detail'>
                Date Of Birth
            </td>
            <td>
                <%= dob %> 
            </td>
        </tr>
        <tr>
            <td class='detail'>
                Date
            </td>
            <td>
                <%= date %>
            </td>
        </tr>
        <tr>
            <td class='detail'>
                Gender 
            </td>
            <td>
                <%= gender %>
            </td>
        </tr>
        
    </table>
    <div class="change-pw">
        <a href="/users/changepwd">Change Password</a>
    </div>
    
    
    <script src="" async defer></script>
</body>

</html>