<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" type="text/css" href="static/css/styles.css" />
    <!-- <link rel="stylesheet" type="text/css" href="static/css/styles.css" /> -->
    <title>
      Blog
    </title>
  </head>
  <body>
    <%- include ("./partials/messages") %>
    <% if(typeof userId != 'undefined'){ %>
    <header class="navigation-bar">
      <ul>
        <li>
          <a href="/users/logout">Logout</a>
        </li>
        <li>
          <a href="/users/Dashboard">Dashboard</a>
        </li>
      </ul>
    </header>
    <% } %>
    <% if(typeof userId == 'undefined'){ %>

      <header class="navigation-bar">
        <ul>
          <li>
            <a href="/users/register">Register</a>
          </li>
          <li>
            <a href="/users/login"> Login</a>
          </li>
        </ul>
      </header>
      <% } %>
    <section class="post">
      <%posts = posts.reverse();%>
      <% for(var i= 0; i < posts.length; i++) { %>
      <div class="post-element">
        <h1 class="post-title" id="<%=i%>"><%- posts[i].title %></h1>
        <article id="<%=i%>"><%- posts[i].post %></article>
        <li id="<%=i%>"><%= posts[i].comments[0] %></li>
        <% if(typeof userId !== 'undefined' && posts !== 'undefined'){ %>
        <form action="/comment?id=<%=posts[i]._id%>&&userId=<%=userId%>" method="POST">
          <label for="">Leave a Comment</label>
          <textarea
            class="comment"
            name="comment"
            placeholder="Enter Comment"
            value=""
          >
          </textarea>
          <button type="submit" class="button">
            Submit
          </button>
        </form>
        <% } %>
      </div>
      <% } %>

      
    </section>
  </body>
</html>
