<!DOCTYPE html>
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= lastname%> || Dashboard</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
</head>

<body>
    <%- include ("./partials/messages") %>
    <header class="navigation-bar">
        <h1>Dashboard</h1>
        <ul>
            <li>
                <a href="/users/logout"> Logout</a>
            </li>
        </ul>
    </header>

    <p class="lead mb-3">Welcome: <%= lastname %> <%= firstname %> </p>
    <p class="lead mb-3" id="myEmail">Email: <%= email %> </p>
    <p class="lead mb-3">Contact: <%= contact %> </p>
    <p class="lead mb-3">Dob: <%= dob %> </p>
    <p class="lead mb-3">Date: <%= date %> </p>
    <p class="lead mb-3">Gender: <%= gender %> </p>

    <script src="" async defer></script>
</body>

</html>